SMS_PROVIDER=africastalking
AFRICASTALKING_USERNAME=sandbox
AFRICASTALKING_API_KEY=atsk_e5aa4d60bcad1a1784b6962a6c69f5fbc61e45354beb559c8865e06250b9ee238b77d335
# Optional: approved sender ID (production)
AFRICASTALKING_SENDER_ID=
